@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-light text-brand-dark antialiased selection:bg-brand-secondary selection:text-white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

/* Custom Scrollbar untuk Modal & List */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2124ff40;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7376f180;
}